@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.wallet {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}

.wallet p {
	color: black;
	margin: 10px;
	max-width: 70%;
}

.wallet img {
	margin-bottom: 15px;
}
